@import "~bootstrap/dist/css/bootstrap.min.css";

h1 {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h2,
h6 {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}
